/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Monserrat&family=Roboto');
/* Estilos Generales */
@import url('general.css');
/* Cabecera */

/* Navegacion */

/* Contenido */

/* lenguages */

main{

    height: 50rem;

}

#languages{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10rem;

}

#languages article{

    border-radius: 1rem 1rem;
    background-color: gray;
    height: 25rem;
    width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

#languages article h2{

    text-align: center;

}

#languages #html h2{

    color: orange;

}

#languages #css h2{

    color: blue;

}

#languages #js h2{

    color: yellow;

}

#languages article p{

    text-align: center;

}

#languages article:hover{

    background-color: black;
    color: white;

}

footer{

    display: flex;
    justify-content: center;

}

/* Pie de Pagina */
