/*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'segoe ui','calibri', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
/*Navegacion*/
    nav{
        position: sticky;
        top:0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(to right, #c36, #66c);
    }
    nav a{
        display: block;
        padding: .5rem;
        color:#eee;
        text-decoration: none;
    }
    .logo{
        text-transform: uppercase;
        font-weight: bold;
    }
    .btn{
        margin: .5rem;
        border: .1rem solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color: #66c;
        background-color: #eee;
    }
    .menu{
        width: 100%;
        max-height: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: rgba(51,51,51,.5);
    }
/*Cabecera*/
    #header{
        height: 100vh;
        max-height: 640px;
        display: grid;
        align-content: center;
        color:#eee;
        background-color: #333;
        text-align: center;
        font-size: min(calc(2vw + .8rem), 3rem);
        text-shadow: 0 0 2vw #eee;
    }
/*Contenido Principal*/
    section{
        margin: 1rem;
        border-radius: .25rem;
        padding: 1rem;
        box-shadow: 0 0 .5rem #333;        
    }
    section h2{
        margin: -1rem -1rem .5rem;
        border-radius: .25rem .25rem 0 0;
        padding: 1rem;
        color: #eee;
        background-color: #333;
    }
    section h3{
        border-bottom: .1rem solid #333;
    }
/*Listas de comandos*/
    .commands{
        position: relative;
        margin: 1rem;
        padding: 1rem 2rem;
        line-height: 1.5rem;
        background-color: #eee;
        list-style: none;
    }
    .commands::before{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        bottom:0;
        width: .25rem;
        background: linear-gradient(#c3a, #448);
    }
/*Pie de Pagina*/
    #footer{
        position: relative;
        padding: 5rem 1rem 1rem;
        color: #eee;
        background: linear-gradient(#c36a, #66ca)
    }
    .copy{
        margin: 1.5rem -1rem 0;
        padding: 1rem;
        background-color: #333;
        text-align: center;
        opacity: .5;
        transition: all .5s ease;
    }
    .copy:hover{
        text-shadow: 0 0 .5rem #eee;
        opacity: .8;
    }
    .map iframe{
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border: none;
    }
    .map .btn{
        min-width: 2.5rem;
        position: absolute;
        top: .5rem;
        right: .5rem;
        padding: .25rem .5rem;
        background-color: #9998;
        font-size: 1.5rem;
    }
    .map iframe.active,
    .map .btn.icon-min{
        position: fixed;
        opacity: .9;
        z-index: 2;
    }
    .icon-max::before{
        content: '+';
    }
    .icon-min::before{
        content: '-';
    }
/*Repositorios*/
    .social{
        display: flex;
        justify-content: center;
    }
    .social a{
        position: relative;
        margin: .25rem;
        border-radius: .25rem;
        padding: .25rem;
        color: #eee;
        background-color: #333;
        text-decoration: none;
    }
    .social a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 0 .5rem #333;
    }
/*Tabla Colaboradores*/
    .colabs{
        margin: 1rem auto;
        border-collapse: collapse;
        text-align: left;
        background: linear-gradient(#c3a, #448);
        box-shadow: -1rem 1rem 1rem #333;
    }
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #c3a;
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .25rem .5rem;
    }
    .colabs tbody tr:nth-child(odd){ background-color: #6668;}
    .colabs tbody tr:nth-child(even){ background-color: #9998;}
/*Formulario | Newsletter */
/*Pantallas Pequeñas - Smartphones*/
    @media screen and (min-width: 576px){
        section{
            max-width: 540px;
            margin: 1rem auto;
        }
    }
/*Pantallas Medianas - Tablets*/
    @media screen and (min-width: 768px){
        nav .btn{
            display: none;
        }
        .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
        section{
            max-width: 720px;
        }
    }
/*Pantallas Grandes - Laptops*/
    @media screen and (min-width: 992px) {
        section{
            max-width: 960px;
        }
    }
/*Pantallas ExtraGrandes - Desktop*/
    @media screen and (min-width: 1200px){
        nav{
            justify-content: space-around;
        }
    }